<% if live.slide? %>
  <%# A song stanza / thought / picture is on the screen right now. %>
  <article class="ps-live-slide" data-title="<%= live.slide_title %>" data-body="<%= live.slide_body %>"
           data-image="<%= live.slide_image_url %>">
    <% if live.slide_title.present? %>
      <div class="ref-title"><%= live.slide_title %></div>
      <div class="rule"></div>
    <% end %>
    <% if live.slide_image_url.present? %>
      <img class="ps-live-picture" src="<%= live.slide_image_url %>" alt="<%= live.slide_title %>">
    <% else %>
      <% stanzas = live.slide_stanzas.presence || [ live.slide_title.to_s ] %>
      <% stanzas.each_with_index do |stanza, i| %>
        <p class="ps-live-stanza <%= "is-now" if i == live.slide_index.to_i %>" data-idx="<%= i %>"><%= stanza %></p>
      <% end %>
    <% end %>
  </article>
<% else %>
<% verses = live.verses.to_a %>
<% if verses.any? %>
  <article class="ps-live-passage"
           data-osis="<%= live.osis %>" data-chapter="<%= live.chapter %>"
           data-translation="<%= live.translation_code %>">
    <div class="ref-title">
      <span><%= live.reference_label %></span>
      <span class="tag">&middot; <%= live.translation&.name %></span>
    </div>
    <div class="rule"></div>
    <% from = live.verse_start %>
    <% to = live.verse_end || live.verse_start %>
    <% verses.each do |verse| %>
      <p class="ps-live-verse <%= "is-now" if from && verse.verse_number.between?(from, to) %>"
         data-num="<%= verse.verse_number %>">
        <span class="vnum"><%= verse.verse_number %></span>
        <span class="vtext"><%= verse.text %></span>
      </p>
    <% end %>
  </article>
<% else %>
  <div class="ps-live-waiting">
    <div class="orn">&#10086;</div>
    <p>You&rsquo;re in. The text will appear here the moment the preacher opens it.</p>
  </div>
<% end %>
<% end %>
